In [1]:
import pandas as pd

In [9]:
race=pd.read_csv('demographic-data-analyzer.csv')

In [10]:
race

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
race['age'].mean()

41.6

In [15]:
race['education'].value_counts()

Bachelors    3
11th         1
HS-grad      1
Name: education, dtype: int64

In [17]:
race['education'].value_counts('Bachelors')*100

Bachelors    60.0
11th         20.0
HS-grad      20.0
Name: education, dtype: float64

In [37]:

race_sub=race['salary'].value_counts('Bachelors')

In [38]:
race_sub

<=50K    1.0
Name: salary, dtype: float64

In [40]:
race_sub1=race['salary'].value_counts()

In [41]:
race_sub1

<=50K    5
Name: salary, dtype: int64

In [61]:
race_sub2=race['salary'].value_counts('HS-grad','11th')

In [46]:
race_sub2

<=50K    1.0
Name: salary, dtype: float64

In [47]:
 race['hours-per-week'].value_counts()*100

40    400
13    100
Name: hours-per-week, dtype: int64

In [48]:
race['native-country'].value_counts()

United-States    4
Cuba             1
Name: native-country, dtype: int64

In [55]:
race_sub3=race['native-country'].value_counts('salary')

In [56]:
race_sub3

United-States    0.8
Cuba             0.2
Name: native-country, dtype: float64

In [57]:
race['occupation'].value_counts()

Handlers-cleaners    2
Prof-specialty       1
Adm-clerical         1
Exec-managerial      1
Name: occupation, dtype: int64

In [58]:
race_sub4=race['occupation'].value_counts('salary')

In [59]:
race_sub4

Handlers-cleaners    0.4
Prof-specialty       0.2
Adm-clerical         0.2
Exec-managerial      0.2
Name: occupation, dtype: float64

In [62]:
race_sub5=race['salary'].value_counts('occupation')

In [63]:
race_sub5

<=50K    1.0
Name: salary, dtype: float64